.list-check {
    padding: 0;
    margin: 2rem 0 2.5rem 0;
    list-style: none;

    li {
        position: relative;
        padding-left: 35px;
        margin: 1rem 0;
        background: url("./images/default/check.svg") no-repeat 1px 0;
        background-size: 20px 16px;
    }
}
